@import "tailwindcss";

@theme {
  --color-primary-colour: #2b7fff;
  --color-bold-black: #101828;
}

.swiper-pagination {
  position: relative;
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #cbd5e1;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2563eb;
}
